<header>
  <div class="links">
    <%= image_tag("rails", size: "40x45")%>
  </div>
  <h3>Rails Books</h3>
</header>

<aside>
  <ul>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'questions', root_path %></li>
    <li><%= link_to 'news', root_path %></li>
    <li><%= link_to 'contact', root_path %></li>
  </ul>
</aside>

<div class='inhalt'>
<h4>Book Catalogue</h4>
<hr>
  <% @products.each do |product| %>
  <div class="row">
    <div class="medium-3 columns">
      <%= image_tag  product.image_url, size: "100x100" %>
    </div>

    <div class="medium-9 columns">
      <h4><%= product.title %></h4>
      <p><%= product.description %></p>
      <p class="blue"><%= number_to_currency(product.price, unit: "€") %></p>
    </div>
  </div>
<br>
  <%= button_to ("Add to Cart"), line_items_path(:product_id => product) %>

  <hr>
    <% end %>
</div>