<h1> Hallo </h1>
<table>
	<tr>
		<th>Name</th>
		<th>Beschreibung</th>
		<th>pledge</th>
		<th>Webseitenadresse</th>
		<th>Projekt endet am:</th>
	<tr>

<% @projects.each do |p|%>


	<td><%=p.name%></td>
	<td><%=p.description%></td>
	<td><%=p.target_pledge_amount%><td>
	<td><%=p.website%><td>
	<td><%=p.pledging_ends_on%><td>
	
		<td><%= link_to "Show", projects_path(params.id) %></td>
		<td><%= link_to "Edit", edit_Pr_path(params.id) %></td>
		<td><%= link_to "Delete", event_path(params.id), method: :delete, data: {confirm: "Sicher????"} %></td>
</tr>
<% end %>
	
</table>