<h1>Movies</h1>
<p>
	<table>
	<tr>
		<th>Name</th>
		<th>Ort</th>
		<th>Preis</th>
		<th>Wann</th>
		<th>Beschreibung</th>
	</tr>
	<% @movies.each do |movie| %>
		<tr>
			<td><%= movie.title %></td>
			<td><%= movie.rating %></td>
			<td><%= number_to_currency(movie.total_gross, unit: "€") %></td>

			<td><%= movie.start_at%></td>
			<td><%= movie.description%></td>
		</tr>
	<% end %>
</table>
</p>